<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
https://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:f5fa15d0ce097eee7ca6b1487c42d191:61a7f8959ea874393afa2ed29af5261b:9137e8d914f73a10e4f4d41cc9b124ae$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>0x00a0</key>
			<dict>
				<key>x</key><real>973</real>
				<key>y</key><real>120</real>
				<key>w</key><real>16</real>
				<key>h</key><real>16</real>
				
				
			</dict>
                        <key>0x00a1</key>
			<dict>
				<key>x</key><real>727</real>
				<key>y</key><real>501</real>
				<key>w</key><real>25</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00a2</key>
			<dict>
				<key>x</key><real>167</real>
				<key>y</key><real>501</real>
				<key>w</key><real>48</real>
				<key>h</key><real>71</real>
				
				
			</dict>
                        <key>0x00a3</key>
			<dict>
				<key>x</key><real>391</real>
				<key>y</key><real>431</real>
				<key>w</key><real>53</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00a4</key>
			<dict>
				<key>x</key><real>773</real>
				<key>y</key><real>265</real>
				<key>w</key><real>60</real>
				<key>h</key><real>61</real>
				
				
			</dict>
                        <key>0x00a5</key>
			<dict>
				<key>x</key><real>459</real>
				<key>y</key><real>364</real>
				<key>w</key><real>53</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00a6</key>
			<dict>
				<key>x</key><real>689</real>
				<key>y</key><real>152</real>
				<key>w</key><real>24</real>
				<key>h</key><real>76</real>
				
				
			</dict>
                        <key>0x00a7</key>
			<dict>
				<key>x</key><real>102</real>
				<key>y</key><real>155</real>
				<key>w</key><real>53</real>
				<key>h</key><real>84</real>
				
				
			</dict>
                        <key>0x00a8</key>
			<dict>
				<key>x</key><real>754</real>
				<key>y</key><real>567</real>
				<key>w</key><real>41</real>
				<key>h</key><real>24</real>
				
				
			</dict>
                        <key>0x00a9</key>
			<dict>
				<key>x</key><real>309</real>
				<key>y</key><real>1</real>
				<key>w</key><real>66</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00aa</key>
			<dict>
				<key>x</key><real>797</real>
				<key>y</key><real>567</real>
				<key>w</key><real>38</real>
				<key>h</key><real>43</real>
				
				
			</dict>
                        <key>0x00ab</key>
			<dict>
				<key>x</key><real>971</real>
				<key>y</key><real>1</real>
				<key>w</key><real>44</real>
				<key>h</key><real>44</real>
				
				
			</dict>
                        <key>0x00ac</key>
			<dict>
				<key>x</key><real>258</real>
				<key>y</key><real>308</real>
				<key>w</key><real>45</real>
				<key>h</key><real>31</real>
				
				
			</dict>
                        <key>0x00ad</key>
			<dict>
				<key>x</key><real>836</real>
				<key>y</key><real>613</real>
				<key>w</key><real>34</real>
				<key>h</key><real>22</real>
				
				
			</dict>
                        <key>0x00ae</key>
			<dict>
				<key>x</key><real>377</real>
				<key>y</key><real>1</real>
				<key>w</key><real>66</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00af</key>
			<dict>
				<key>x</key><real>794</real>
				<key>y</key><real>612</real>
				<key>w</key><real>40</real>
				<key>h</key><real>21</real>
				
				
			</dict>
                        <key>0x00b0</key>
			<dict>
				<key>x</key><real>305</real>
				<key>y</key><real>310</real>
				<key>w</key><real>34</real>
				<key>h</key><real>34</real>
				
				
			</dict>
                        <key>0x00b1</key>
			<dict>
				<key>x</key><real>669</real>
				<key>y</key><real>369</real>
				<key>w</key><real>48</real>
				<key>h</key><real>60</real>
				
				
			</dict>
                        <key>0x00b2</key>
			<dict>
				<key>x</key><real>837</real>
				<key>y</key><real>567</real>
				<key>w</key><real>38</real>
				<key>h</key><real>44</real>
				
				
			</dict>
                        <key>0x00b3</key>
			<dict>
				<key>x</key><real>901</real>
				<key>y</key><real>586</real>
				<key>w</key><real>38</real>
				<key>h</key><real>44</real>
				
				
			</dict>
                        <key>0x00b4</key>
			<dict>
				<key>x</key><real>173</real>
				<key>y</key><real>324</real>
				<key>w</key><real>32</real>
				<key>h</key><real>26</real>
				
				
			</dict>
                        <key>0x00b5</key>
			<dict>
				<key>x</key><real>525</real>
				<key>y</key><real>572</real>
				<key>w</key><real>48</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00b6</key>
			<dict>
				<key>x</key><real>963</real>
				<key>y</key><real>403</real>
				<key>w</key><real>43</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00b7</key>
			<dict>
				<key>x</key><real>145</real>
				<key>y</key><real>327</real>
				<key>w</key><real>26</real>
				<key>h</key><real>25</real>
				
				
			</dict>
                        <key>0x00b8</key>
			<dict>
				<key>x</key><real>889</real>
				<key>y</key><real>311</real>
				<key>w</key><real>28</real>
				<key>h</key><real>31</real>
				
				
			</dict>
                        <key>0x00b9</key>
			<dict>
				<key>x</key><real>941</real>
				<key>y</key><real>586</real>
				<key>w</key><real>29</real>
				<key>h</key><real>43</real>
				
				
			</dict>
                        <key>0x00ba</key>
			<dict>
				<key>x</key><real>752</real>
				<key>y</key><real>593</real>
				<key>w</key><real>40</real>
				<key>h</key><real>43</real>
				
				
			</dict>
                        <key>0x00bb</key>
			<dict>
				<key>x</key><real>954</real>
				<key>y</key><real>357</real>
				<key>w</key><real>45</real>
				<key>h</key><real>44</real>
				
				
			</dict>
                        <key>0x00bc</key>
			<dict>
				<key>x</key><real>708</real>
				<key>y</key><real>1</real>
				<key>w</key><real>62</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00bd</key>
			<dict>
				<key>x</key><real>513</real>
				<key>y</key><real>1</real>
				<key>w</key><real>65</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00be</key>
			<dict>
				<key>x</key><real>445</real>
				<key>y</key><real>1</real>
				<key>w</key><real>66</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00bf</key>
			<dict>
				<key>x</key><real>679</real>
				<key>y</key><real>503</real>
				<key>w</key><real>46</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00c0</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>171</real>
				<key>w</key><real>62</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00c1</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>253</real>
				<key>w</key><real>62</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00c2</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>335</real>
				<key>w</key><real>62</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00c3</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>417</real>
				<key>w</key><real>62</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00c4</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>499</real>
				<key>w</key><real>62</real>
				<key>h</key><real>79</real>
				
				
			</dict>
                        <key>0x00c5</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>85</real>
				<key>w</key><real>62</real>
				<key>h</key><real>84</real>
				
				
			</dict>
                        <key>0x00c6</key>
			<dict>
				<key>x</key><real>77</real>
				<key>y</key><real>1</real>
				<key>w</key><real>82</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00c7</key>
			<dict>
				<key>x</key><real>102</real>
				<key>y</key><real>70</real>
				<key>w</key><real>56</real>
				<key>h</key><real>83</real>
				
				
			</dict>
                        <key>0x00c8</key>
			<dict>
				<key>x</key><real>922</real>
				<key>y</key><real>58</real>
				<key>w</key><real>49</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00c9</key>
			<dict>
				<key>x</key><real>156</real>
				<key>y</key><real>241</real>
				<key>w</key><real>49</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00ca</key>
			<dict>
				<key>x</key><real>207</real>
				<key>y</key><real>234</real>
				<key>w</key><real>49</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00cb</key>
			<dict>
				<key>x</key><real>258</real>
				<key>y</key><real>227</real>
				<key>w</key><real>49</real>
				<key>h</key><real>79</real>
				
				
			</dict>
                        <key>0x00cc</key>
			<dict>
				<key>x</key><real>309</real>
				<key>y</key><real>227</real>
				<key>w</key><real>32</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00cd</key>
			<dict>
				<key>x</key><real>739</real>
				<key>y</key><real>222</real>
				<key>w</key><real>32</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00ce</key>
			<dict>
				<key>x</key><real>924</real>
				<key>y</key><real>141</real>
				<key>w</key><real>40</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00cf</key>
			<dict>
				<key>x</key><real>847</real>
				<key>y</key><real>153</real>
				<key>w</key><real>41</real>
				<key>h</key><real>79</real>
				
				
			</dict>
                        <key>0x00d0</key>
			<dict>
				<key>x</key><real>835</real>
				<key>y</key><real>1</real>
				<key>w</key><real>60</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00d1</key>
			<dict>
				<key>x</key><real>664</real>
				<key>y</key><real>70</real>
				<key>w</key><real>56</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00d2</key>
			<dict>
				<key>x</key><real>160</real>
				<key>y</key><real>70</real>
				<key>w</key><real>58</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00d3</key>
			<dict>
				<key>x</key><real>220</real>
				<key>y</key><real>70</real>
				<key>w</key><real>58</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00d4</key>
			<dict>
				<key>x</key><real>341</real>
				<key>y</key><real>71</real>
				<key>w</key><real>58</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00d5</key>
			<dict>
				<key>x</key><real>452</real>
				<key>y</key><real>70</real>
				<key>w</key><real>58</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00d6</key>
			<dict>
				<key>x</key><real>512</real>
				<key>y</key><real>70</real>
				<key>w</key><real>58</real>
				<key>h</key><real>79</real>
				
				
			</dict>
                        <key>0x00d7</key>
			<dict>
				<key>x</key><real>804</real>
				<key>y</key><real>516</real>
				<key>w</key><real>48</real>
				<key>h</key><real>49</real>
				
				
			</dict>
                        <key>0x00d8</key>
			<dict>
				<key>x</key><real>252</real>
				<key>y</key><real>153</real>
				<key>w</key><real>58</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>0x00d9</key>
			<dict>
				<key>x</key><real>722</real>
				<key>y</key><real>70</real>
				<key>w</key><real>54</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00da</key>
			<dict>
				<key>x</key><real>778</real>
				<key>y</key><real>70</real>
				<key>w</key><real>54</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00db</key>
			<dict>
				<key>x</key><real>834</real>
				<key>y</key><real>70</real>
				<key>w</key><real>54</real>
				<key>h</key><real>81</real>
				
				
			</dict>
                        <key>0x00dc</key>
			<dict>
				<key>x</key><real>196</real>
				<key>y</key><real>153</real>
				<key>w</key><real>54</real>
				<key>h</key><real>79</real>
				
				
			</dict>
                        <key>0x00dd</key>
			<dict>
				<key>x</key><real>280</real>
				<key>y</key><real>71</real>
				<key>w</key><real>59</real>
				<key>h</key><real>80</real>
				
				
			</dict>
                        <key>0x00de</key>
			<dict>
				<key>x</key><real>522</real>
				<key>y</key><real>503</real>
				<key>w</key><real>51</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00df</key>
			<dict>
				<key>x</key><real>460</real>
				<key>y</key><real>153</real>
				<key>w</key><real>52</real>
				<key>h</key><real>71</real>
				
				
			</dict>
                        <key>0x00e0</key>
			<dict>
				<key>x</key><real>217</real>
				<key>y</key><real>500</real>
				<key>w</key><real>48</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e1</key>
			<dict>
				<key>x</key><real>240</real>
				<key>y</key><real>428</real>
				<key>w</key><real>48</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e2</key>
			<dict>
				<key>x</key><real>267</real>
				<key>y</key><real>500</real>
				<key>w</key><real>48</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e3</key>
			<dict>
				<key>x</key><real>290</real>
				<key>y</key><real>428</real>
				<key>w</key><real>48</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e4</key>
			<dict>
				<key>x</key><real>764</real>
				<key>y</key><real>440</real>
				<key>w</key><real>48</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00e5</key>
			<dict>
				<key>x</key><real>117</real>
				<key>y</key><real>432</real>
				<key>w</key><real>48</real>
				<key>h</key><real>74</real>
				
				
			</dict>
                        <key>0x00e6</key>
			<dict>
				<key>x</key><real>897</real>
				<key>y</key><real>1</real>
				<key>w</key><real>72</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x00e7</key>
			<dict>
				<key>x</key><real>317</real>
				<key>y</key><real>500</real>
				<key>w</key><real>48</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e8</key>
			<dict>
				<key>x</key><real>340</real>
				<key>y</key><real>428</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00e9</key>
			<dict>
				<key>x</key><real>367</real>
				<key>y</key><real>500</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00ea</key>
			<dict>
				<key>x</key><real>206</real>
				<key>y</key><real>574</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00eb</key>
			<dict>
				<key>x</key><real>628</real>
				<key>y</key><real>503</real>
				<key>w</key><real>49</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00ec</key>
			<dict>
				<key>x</key><real>191</real>
				<key>y</key><real>357</real>
				<key>w</key><real>32</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x00ed</key>
			<dict>
				<key>x</key><real>225</real>
				<key>y</key><real>357</real>
				<key>w</key><real>32</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x00ee</key>
			<dict>
				<key>x</key><real>259</real>
				<key>y</key><real>357</real>
				<key>w</key><real>40</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x00ef</key>
			<dict>
				<key>x</key><real>902</real>
				<key>y</key><real>517</real>
				<key>w</key><real>41</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x00f0</key>
			<dict>
				<key>x</key><real>139</real>
				<key>y</key><real>354</real>
				<key>w</key><real>50</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>0x00f1</key>
			<dict>
				<key>x</key><real>301</real>
				<key>y</key><real>357</real>
				<key>w</key><real>47</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x00f2</key>
			<dict>
				<key>x</key><real>350</real>
				<key>y</key><real>327</real>
				<key>w</key><real>51</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00f3</key>
			<dict>
				<key>x</key><real>575</real>
				<key>y</key><real>503</real>
				<key>w</key><real>51</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00f4</key>
			<dict>
				<key>x</key><real>575</real>
				<key>y</key><real>575</real>
				<key>w</key><real>51</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00f5</key>
			<dict>
				<key>x</key><real>565</real>
				<key>y</key><real>359</real>
				<key>w</key><real>51</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00f6</key>
			<dict>
				<key>x</key><real>418</real>
				<key>y</key><real>502</real>
				<key>w</key><real>51</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00f7</key>
			<dict>
				<key>x</key><real>773</real>
				<key>y</key><real>328</real>
				<key>w</key><real>51</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x00f8</key>
			<dict>
				<key>x</key><real>622</real>
				<key>y</key><real>297</real>
				<key>w</key><real>51</real>
				<key>h</key><real>63</real>
				
				
			</dict>
                        <key>0x00f9</key>
			<dict>
				<key>x</key><real>589</real>
				<key>y</key><real>431</real>
				<key>w</key><real>47</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00fa</key>
			<dict>
				<key>x</key><real>638</real>
				<key>y</key><real>431</real>
				<key>w</key><real>47</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00fb</key>
			<dict>
				<key>x</key><real>628</real>
				<key>y</key><real>573</real>
				<key>w</key><real>47</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x00fc</key>
			<dict>
				<key>x</key><real>677</real>
				<key>y</key><real>573</real>
				<key>w</key><real>47</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x00fd</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>267</real>
				<key>w</key><real>50</real>
				<key>h</key><real>85</real>
				
				
			</dict>
                        <key>0x00fe</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>354</real>
				<key>w</key><real>49</real>
				<key>h</key><real>84</real>
				
				
			</dict>
                        <key>0x00ff</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>440</real>
				<key>w</key><real>50</real>
				<key>h</key><real>83</real>
				
				
			</dict>
                        <key>0x002a</key>
			<dict>
				<key>x</key><real>913</real>
				<key>y</key><real>469</real>
				<key>w</key><real>46</real>
				<key>h</key><real>46</real>
				
				
			</dict>
                        <key>0x002b</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>525</real>
				<key>w</key><real>51</real>
				<key>h</key><real>53</real>
				
				
			</dict>
                        <key>0x002c</key>
			<dict>
				<key>x</key><real>972</real>
				<key>y</key><real>592</real>
				<key>w</key><real>27</real>
				<key>h</key><real>35</real>
				
				
			</dict>
                        <key>0x002d</key>
			<dict>
				<key>x</key><real>836</real>
				<key>y</key><real>613</real>
				<key>w</key><real>34</real>
				<key>h</key><real>22</real>
				
				
			</dict>
                        <key>0x002e</key>
			<dict>
				<key>x</key><real>117</real>
				<key>y</key><real>327</real>
				<key>w</key><real>26</real>
				<key>h</key><real>25</real>
				
				
			</dict>
                        <key>0x002f</key>
			<dict>
				<key>x</key><real>973</real>
				<key>y</key><real>47</real>
				<key>w</key><real>42</real>
				<key>h</key><real>71</real>
				
				
			</dict>
                        <key>0x003a</key>
			<dict>
				<key>x</key><real>877</real>
				<key>y</key><real>346</real>
				<key>w</key><real>26</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x003b</key>
			<dict>
				<key>x</key><real>889</real>
				<key>y</key><real>243</real>
				<key>w</key><real>28</real>
				<key>h</key><real>66</real>
				
				
			</dict>
                        <key>0x003c</key>
			<dict>
				<key>x</key><real>919</real>
				<key>y</key><real>296</real>
				<key>w</key><real>45</real>
				<key>h</key><real>49</real>
				
				
			</dict>
                        <key>0x003d</key>
			<dict>
				<key>x</key><real>207</real>
				<key>y</key><real>317</real>
				<key>w</key><real>46</real>
				<key>h</key><real>38</real>
				
				
			</dict>
                        <key>0x003e</key>
			<dict>
				<key>x</key><real>854</real>
				<key>y</key><real>516</real>
				<key>w</key><real>46</real>
				<key>h</key><real>49</real>
				
				
			</dict>
                        <key>0x003f</key>
			<dict>
				<key>x</key><real>725</real>
				<key>y</key><real>305</real>
				<key>w</key><real>46</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x004a</key>
			<dict>
				<key>x</key><real>618</real>
				<key>y</key><real>362</real>
				<key>w</key><real>49</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x004b</key>
			<dict>
				<key>x</key><real>514</real>
				<key>y</key><real>221</real>
				<key>w</key><real>56</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x004c</key>
			<dict>
				<key>x</key><real>714</real>
				<key>y</key><real>432</real>
				<key>w</key><real>48</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x004d</key>
			<dict>
				<key>x</key><real>239</real>
				<key>y</key><real>1</real>
				<key>w</key><real>68</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x004e</key>
			<dict>
				<key>x</key><real>572</real>
				<key>y</key><real>219</real>
				<key>w</key><real>56</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x004f</key>
			<dict>
				<key>x</key><real>572</real>
				<key>y</key><real>149</real>
				<key>w</key><real>58</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x005a</key>
			<dict>
				<key>x</key><real>403</real>
				<key>y</key><real>362</real>
				<key>w</key><real>54</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x005b</key>
			<dict>
				<key>x</key><real>632</real>
				<key>y</key><real>71</real>
				<key>w</key><real>30</real>
				<key>h</key><real>86</real>
				
				
			</dict>
                        <key>0x005c</key>
			<dict>
				<key>x</key><real>167</real>
				<key>y</key><real>428</real>
				<key>w</key><real>45</real>
				<key>h</key><real>71</real>
				
				
			</dict>
                        <key>0x005d</key>
			<dict>
				<key>x</key><real>890</real>
				<key>y</key><real>70</real>
				<key>w</key><real>30</real>
				<key>h</key><real>86</real>
				
				
			</dict>
                        <key>0x005e</key>
			<dict>
				<key>x</key><real>844</real>
				<key>y</key><real>234</real>
				<key>w</key><real>43</real>
				<key>h</key><real>41</real>
				
				
			</dict>
                        <key>0x005f</key>
			<dict>
				<key>x</key><real>350</real>
				<key>y</key><real>399</real>
				<key>w</key><real>48</real>
				<key>h</key><real>22</real>
				
				
			</dict>
                        <key>0x006a</key>
			<dict>
				<key>x</key><real>890</real>
				<key>y</key><real>158</real>
				<key>w</key><real>32</real>
				<key>h</key><real>83</real>
				
				
			</dict>
                        <key>0x006b</key>
			<dict>
				<key>x</key><real>966</real>
				<key>y</key><real>285</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x006c</key>
			<dict>
				<key>x</key><real>214</real>
				<key>y</key><real>428</real>
				<key>w</key><real>24</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x006d</key>
			<dict>
				<key>x</key><real>775</real>
				<key>y</key><real>153</real>
				<key>w</key><real>70</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x006e</key>
			<dict>
				<key>x</key><real>905</real>
				<key>y</key><real>347</real>
				<key>w</key><real>47</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x006f</key>
			<dict>
				<key>x</key><real>719</real>
				<key>y</key><real>375</real>
				<key>w</key><real>51</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x007a</key>
			<dict>
				<key>x</key><real>961</real>
				<key>y</key><real>472</real>
				<key>w</key><real>46</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x007b</key>
			<dict>
				<key>x</key><real>117</real>
				<key>y</key><real>241</real>
				<key>w</key><real>37</real>
				<key>h</key><real>84</real>
				
				
			</dict>
                        <key>0x007c</key>
			<dict>
				<key>x</key><real>116</real>
				<key>y</key><real>354</real>
				<key>w</key><real>21</real>
				<key>h</key><real>76</real>
				
				
			</dict>
                        <key>0x007d</key>
			<dict>
				<key>x</key><real>157</real>
				<key>y</key><real>155</real>
				<key>w</key><real>37</real>
				<key>h</key><real>84</real>
				
				
			</dict>
                        <key>0x007e</key>
			<dict>
				<key>x</key><real>343</real>
				<key>y</key><real>294</real>
				<key>w</key><real>55</real>
				<key>h</key><real>31</real>
				
				
			</dict>
                        <key>0x0020</key>
			<dict>
				<key>x</key><real>973</real>
				<key>y</key><real>120</real>
				<key>w</key><real>16</real>
				<key>h</key><real>16</real>
				
				
			</dict>
                        <key>0x0021</key>
			<dict>
				<key>x</key><real>433</real>
				<key>y</key><real>155</real>
				<key>w</key><real>25</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0022</key>
			<dict>
				<key>x</key><real>983</real>
				<key>y</key><real>528</real>
				<key>w</key><real>32</real>
				<key>h</key><real>34</real>
				
				
			</dict>
                        <key>0x0023</key>
			<dict>
				<key>x</key><real>632</real>
				<key>y</key><real>159</real>
				<key>w</key><real>55</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0024</key>
			<dict>
				<key>x</key><real>401</real>
				<key>y</key><real>71</real>
				<key>w</key><real>49</real>
				<key>h</key><real>82</real>
				
				
			</dict>
                        <key>0x0025</key>
			<dict>
				<key>x</key><real>580</real>
				<key>y</key><real>1</real>
				<key>w</key><real>62</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0026</key>
			<dict>
				<key>x</key><real>312</real>
				<key>y</key><real>154</real>
				<key>w</key><real>58</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0027</key>
			<dict>
				<key>x</key><real>877</real>
				<key>y</key><real>567</real>
				<key>w</key><real>22</real>
				<key>h</key><real>34</real>
				
				
			</dict>
                        <key>0x0028</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>85</real>
				<key>w</key><real>35</real>
				<key>h</key><real>89</real>
				
				
			</dict>
                        <key>0x0029</key>
			<dict>
				<key>x</key><real>65</real>
				<key>y</key><real>176</real>
				<key>w</key><real>35</real>
				<key>h</key><real>89</real>
				
				
			</dict>
                        <key>0x0030</key>
			<dict>
				<key>x</key><real>688</real>
				<key>y</key><real>230</real>
				<key>w</key><real>49</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0031</key>
			<dict>
				<key>x</key><real>499</real>
				<key>y</key><real>433</real>
				<key>w</key><real>37</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0032</key>
			<dict>
				<key>x</key><real>369</real>
				<key>y</key><real>572</real>
				<key>w</key><real>51</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0033</key>
			<dict>
				<key>x</key><real>422</real>
				<key>y</key><real>572</real>
				<key>w</key><real>50</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0034</key>
			<dict>
				<key>x</key><real>459</real>
				<key>y</key><real>226</real>
				<key>w</key><real>53</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0035</key>
			<dict>
				<key>x</key><real>514</real>
				<key>y</key><real>364</real>
				<key>w</key><real>49</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0036</key>
			<dict>
				<key>x</key><real>471</real>
				<key>y</key><real>502</real>
				<key>w</key><real>49</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0037</key>
			<dict>
				<key>x</key><real>446</real>
				<key>y</key><real>433</real>
				<key>w</key><real>51</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0038</key>
			<dict>
				<key>x</key><real>474</real>
				<key>y</key><real>572</real>
				<key>w</key><real>49</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0039</key>
			<dict>
				<key>x</key><real>538</real>
				<key>y</key><real>433</real>
				<key>w</key><real>49</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0040</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>1</real>
				<key>w</key><real>74</real>
				<key>h</key><real>82</real>
				
				
			</dict>
                        <key>0x0041</key>
			<dict>
				<key>x</key><real>644</real>
				<key>y</key><real>1</real>
				<key>w</key><real>62</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0042</key>
			<dict>
				<key>x</key><real>835</real>
				<key>y</key><real>277</real>
				<key>w</key><real>52</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0043</key>
			<dict>
				<key>x</key><real>514</real>
				<key>y</key><real>151</real>
				<key>w</key><real>56</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0044</key>
			<dict>
				<key>x</key><real>313</real>
				<key>y</key><real>572</real>
				<key>w</key><real>54</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0045</key>
			<dict>
				<key>x</key><real>571</real>
				<key>y</key><real>290</real>
				<key>w</key><real>49</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0046</key>
			<dict>
				<key>x</key><real>675</real>
				<key>y</key><real>300</real>
				<key>w</key><real>48</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0047</key>
			<dict>
				<key>x</key><real>343</real>
				<key>y</key><real>224</real>
				<key>w</key><real>56</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0048</key>
			<dict>
				<key>x</key><real>401</real>
				<key>y</key><real>224</real>
				<key>w</key><real>56</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0049</key>
			<dict>
				<key>x</key><real>726</real>
				<key>y</key><real>573</real>
				<key>w</key><real>24</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0050</key>
			<dict>
				<key>x</key><real>403</real>
				<key>y</key><real>293</real>
				<key>w</key><real>54</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0051</key>
			<dict>
				<key>x</key><real>572</real>
				<key>y</key><real>71</real>
				<key>w</key><real>58</real>
				<key>h</key><real>76</real>
				
				
			</dict>
                        <key>0x0052</key>
			<dict>
				<key>x</key><real>459</real>
				<key>y</key><real>295</real>
				<key>w</key><real>54</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0053</key>
			<dict>
				<key>x</key><real>257</real>
				<key>y</key><real>572</real>
				<key>w</key><real>54</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0054</key>
			<dict>
				<key>x</key><real>630</real>
				<key>y</key><real>228</real>
				<key>w</key><real>56</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0055</key>
			<dict>
				<key>x</key><real>515</real>
				<key>y</key><real>290</real>
				<key>w</key><real>54</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0056</key>
			<dict>
				<key>x</key><real>772</real>
				<key>y</key><real>1</real>
				<key>w</key><real>61</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0057</key>
			<dict>
				<key>x</key><real>161</real>
				<key>y</key><real>1</real>
				<key>w</key><real>76</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0058</key>
			<dict>
				<key>x</key><real>715</real>
				<key>y</key><real>153</real>
				<key>w</key><real>58</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0059</key>
			<dict>
				<key>x</key><real>372</real>
				<key>y</key><real>155</real>
				<key>w</key><real>59</real>
				<key>h</key><real>67</real>
				
				
			</dict>
                        <key>0x0060</key>
			<dict>
				<key>x</key><real>983</real>
				<key>y</key><real>564</real>
				<key>w</key><real>32</real>
				<key>h</key><real>26</real>
				
				
			</dict>
                        <key>0x0061</key>
			<dict>
				<key>x</key><real>814</real>
				<key>y</key><real>459</real>
				<key>w</key><real>48</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x0062</key>
			<dict>
				<key>x</key><real>966</real>
				<key>y</key><real>141</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x0063</key>
			<dict>
				<key>x</key><real>754</real>
				<key>y</key><real>510</real>
				<key>w</key><real>48</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x0064</key>
			<dict>
				<key>x</key><real>966</real>
				<key>y</key><real>213</real>
				<key>w</key><real>49</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x0065</key>
			<dict>
				<key>x</key><real>826</real>
				<key>y</key><real>346</real>
				<key>w</key><real>49</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x0066</key>
			<dict>
				<key>x</key><real>924</real>
				<key>y</key><real>224</real>
				<key>w</key><real>40</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x0067</key>
			<dict>
				<key>x</key><real>53</real>
				<key>y</key><real>580</real>
				<key>w</key><real>49</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x0068</key>
			<dict>
				<key>x</key><real>118</real>
				<key>y</key><real>508</real>
				<key>w</key><real>47</real>
				<key>h</key><real>70</real>
				
				
			</dict>
                        <key>0x0069</key>
			<dict>
				<key>x</key><real>687</real>
				<key>y</key><real>431</real>
				<key>w</key><real>25</real>
				<key>h</key><real>68</real>
				
				
			</dict>
                        <key>0x0070</key>
			<dict>
				<key>x</key><real>104</real>
				<key>y</key><real>580</real>
				<key>w</key><real>49</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x0071</key>
			<dict>
				<key>x</key><real>155</real>
				<key>y</key><real>580</real>
				<key>w</key><real>49</real>
				<key>h</key><real>69</real>
				
				
			</dict>
                        <key>0x0072</key>
			<dict>
				<key>x</key><real>945</real>
				<key>y</key><real>528</real>
				<key>w</key><real>36</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x0073</key>
			<dict>
				<key>x</key><real>875</real>
				<key>y</key><real>403</real>
				<key>w</key><real>47</real>
				<key>h</key><real>55</real>
				
				
			</dict>
                        <key>0x0074</key>
			<dict>
				<key>x</key><real>924</real>
				<key>y</key><real>403</real>
				<key>w</key><real>37</real>
				<key>h</key><real>64</real>
				
				
			</dict>
                        <key>0x0075</key>
			<dict>
				<key>x</key><real>864</real>
				<key>y</key><real>460</real>
				<key>w</key><real>47</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x0076</key>
			<dict>
				<key>x</key><real>824</real>
				<key>y</key><real>403</real>
				<key>w</key><real>49</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x0077</key>
			<dict>
				<key>x</key><real>775</real>
				<key>y</key><real>209</real>
				<key>w</key><real>67</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x0078</key>
			<dict>
				<key>x</key><real>772</real>
				<key>y</key><real>384</real>
				<key>w</key><real>50</real>
				<key>h</key><real>54</real>
				
				
			</dict>
                        <key>0x0079</key>
			<dict>
				<key>x</key><real>1</real>
				<key>y</key><real>580</real>
				<key>w</key><real>50</real>
				<key>h</key><real>69</real>
				
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>Roboto-Medium.png</string>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>650</integer>
		</dict>
	</dict>
</plist>
